<div class="gear-page">
    <div class="gear-canvas">
        <div id="figure" class="canvas-grid" #figure>
            <svg:svg id="svg"></svg:svg>
        </div>
        <div class="canvas-grid">
            <div class="blank-space">&nbsp;</div>
            <div class="gear-slider">
                <nz-slider [(ngModel)]="sliderScale" [nzMin]="1" [nzMax]="15" [nzStep]="0.1" (ngModelChange)="onSliderChange($event)">
                </nz-slider>
                
                <div>
                    <button nz-button nzType="primary"
                            *ngIf="isPlaying()" 
                            (click)="pauseAnimation()">
                        <i nz-icon nzType="pause"></i>
                    </button>
                    
                    <button nz-button nzType="primary"
                            *ngIf="!isPlaying()" 
                            (click)="startAnimation()">
                        <i nz-icon nzType="caret-right"></i>
                    </button>

                    <button nz-button nzType="primary"
                            (click)="stopAnimation()">
                        <i>&#x25a0;</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="gear-settings">
        <form [formGroup]="dataForm" nz-form nzLayout="vertical">
            <nz-form-item>
                <nz-form-label nzFor="email">Module</nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        formControlName="m"
                        type="number"
                        value="11"
                        required
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    z <sub>1</sub> &nbsp; (number of pinion's teeth)
                </nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        formControlName="z1"
                        type="number"
                        required
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    z <sub>2</sub> &nbsp; (number of gear's teeth)
                </nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        formControlName="z2"
                        type="number"
                        required
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    x <sub>1</sub> &nbsp; (modification coefficient of pinion)
                </nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        formControlName="x1"
                        type="number"
                        required
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    x <sub>2</sub> &nbsp; (modification coefficient of gear)
                </nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        formControlName="x2"
                        type="number"
                        required
                    />
                </nz-form-control>
            </nz-form-item>

            <button
                nz-button
                nzType="primary"
                id="calculate-button"
                (click)="submitForm()"
            >
                Calculate
            </button>
        </form>

        <div class="blank-space">&nbsp;</div>

        <div class="gear-save">
            <button nz-button nzType="primary">Export pinion data</button>
            <div>&nbsp;</div>
            <button nz-button nzType="primary">Export gear data</button>
        </div>
    </div>
</div>
