:host {
    width: 100%;
    height: 100%;
}

nz-tabset {
    height: 100%;
    width: 100%;
}

#canvas {
    grid-area: 1 / 1;

    width: 100%;
    height: 100%;

    border: 1px lightgray solid;
}

#calculate-button {
    width: 100%;
    margin-bottom: 24px;
}

#figure {
    height: 100%;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

#svg {
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.gear-page {
    display: flex;
    flex-flow: row;

    width: 100%;
    height: 100%;

    padding: 25px;

    .output-panel {
        width: 100%;
        margin-right: 25px;

        .wrapper {
            height: 100%;
            position: relative;

            display: flex;
            flex-direction: column;

            .player {
                position: absolute;
                z-index: 2;
                align-items: center;

                flex-direction: column;
                display: flex;
                width: 100%;
                height: 100%;
            }

            .blank-space {
                z-index: 2;
            }
        }
    }

    .gear-settings {
        display: flex;
        flex-flow: column;

        width: 500px;

        .gear-save {
            display: flex;
            flex-direction: row;

            button {
                flex: 1;
            }

            div {
                width: 10px;
            }
        }
    }
}

.blank-space {
    display: flex;
    flex-direction: column;

    flex: 1;

    justify-content: center;
    align-items: center;
}
