<div class="gear-page">
    <div class="output-panel">
        <nz-tabset nzType="card">
            <nz-tab nzTitle="Preview">
                <div class="wrapper">
                    <div id="figure" #figure>
                        <svg:svg id="svg"></svg:svg>
                    </div>
                    <div class="player">
                        <div class="blank-space">&nbsp;</div>
                        <app-gear-player
                            [canBeActivated]="!!this.pinionPath && !!this.gearPath"
                            (sliderChanged)="onSliderChange($event)"
                            (started)="startAnimation($event)"
                            (paused)="pauseAnimation()"
                            (stopped)="stopAnimation()"></app-gear-player>
                    </div>
                </div>
            </nz-tab>

            <nz-tab nzTitle="Parameter table">
                <app-gear-table [resultData]="mechanismData"></app-gear-table>
            </nz-tab>
        </nz-tabset>
    </div>

    <div class="gear-settings">
        <form [formGroup]="dataForm" nz-form nzLayout="vertical">
            <nz-form-item>
                <nz-form-label nzFor="email">Module</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="m" type="number" value="11" required />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    z <sub>1</sub> &nbsp; (number of pinion's teeth)
                </nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="z1" type="number" required />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    z <sub>2</sub> &nbsp; (number of gear's teeth)
                </nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="z2" type="number" required />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    x <sub>1</sub> &nbsp; (modification coefficient of pinion)
                </nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="x1" type="number" required />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">
                    x <sub>2</sub> &nbsp; (modification coefficient of gear)
                </nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="x2" type="number" required />
                </nz-form-control>
            </nz-form-item>

            <button nz-button nzType="primary" id="calculate-button" (click)="submitForm()">
                Calculate
            </button>
        </form>

        <div class="blank-space">&nbsp;</div>

        <div class="gear-save">
            <button nz-button nzType="primary">Export pinion data</button>
            <div>&nbsp;</div>
            <button nz-button nzType="primary">Export gear data</button>
        </div>
    </div>
</div>
