<nz-table
    #expandTable
    [nzData]="tableData"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzBordered]="true"
    [nzScroll]="{ y: (tabContentHeight - 55).toString() + 'px' }"
>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol and formula</th>
            <th>Pinion</th>
            <th>Gear</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of expandTable.data">
            <ng-container *ngFor="let item of tableMap[data.key]">
                <tr
                    *ngIf="
                        (item.parent && item.parent.isExpanded) || !item.parent
                    "
                >
                    <td
                        [nzIndentSize]="item.level! * 20"
                        [nzShowExpand]="!!item.children"
                        [(nzExpand)]="item.isExpanded"
                        (nzExpandChange)="
                            collapse(tableMap[data.key], item, $event)
                        "
                    >
                        {{ item.name }}
                    </td>
                    <td>
                        <ng-katex [equation]="item.formula!"></ng-katex>
                    </td>
                    <td [colSpan]="item.useColumnSpan ? 2 : 1">
                        {{ item.valueLeft }}
                    </td>
                    <td>{{ item.valueRight }}</td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</nz-table>
